/*========================================================================================================================================*/
/*========================================================================================================================================*/
/*=============================================-------CLOAK AND DAGGER-------=============================================================*/
/*========================================================================================================================================*/
/*========================================================================================================================================*/

/*  
    font: "https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap"
    dark background color: rgb(21, 21, 21);
    light background color: rgb(173, 129, 86);
    light text color: rgb(225, 213, 186);
*/
@media all and (min-width: 950px) {
body {
    background-color: rgb(21, 21, 21);
    font-family: "Goudy Bookletter 1911";
    letter-spacing: 2px;
}  
    
/*========================================================================================================================================*/
/*============================================-----------SECTION ONE------------=========================================================*/
/*========================================================================================================================================*/
#one {
    position: relative;
    display: inline-block;
    width: 100%;
}

#one_img_div {
    width: 50%;
}

#one_img {
    width: 55%;
    padding: 1.5em;
}

#one_menu_div {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    text-align: center;
}

#one_menu {
    list-style-type: none;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
    text-align: center;
    margin-right: 2em;
    width: auto;
}

.one_menu {
    color: rgb(225, 213, 186);
    padding: 1.5em;
    font-size: 1em;
    letter-spacing: 2px;
}

#one_menu_first {
    grid-column-start: 1;
    grid-column-end: 1;
}

#one_menu_second {
    grid-column-start: 2;
    grid-column-end: 2;
}

#one_menu_third {
    grid-column-start: 3;
    grid-column-end: 3;
}

#one_menu_fourth {
    grid-column-start: 4;
    grid-column-end: 4;
}

/*========================================================================================================================================*/
/*============================================-----------SECTION TWO-------------=========================================================*/
/*========================================================================================================================================*/
#two {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
}

#two_contacts_div {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 58% 2% 15% 25%;
    background-color: rgb(173, 129, 86);
}

.two_contacts {
    letter-spacing: 2.5px;
    word-spacing: 2px;
    font-weight: 100;
}

#address {
    font-size: 1em;
    grid-column-start: 1;
    grid-column-end: 1;
    text-align: right;
}

#phone {
    grid-column-start: 3;
    grid-column-end: 3;
    font-size: 1em;

}
/*========================================================================================================================================*/
/*============================================-----------SECTION THREE------------=========================================================*/
/*========================================================================================================================================*/
#three_img_div {
    height: auto;
    width: auto;
}

#three_img {
    height: auto;
    width: 100%;
}

#three_img_small_div {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 24%;
    margin-left: 40%;
    height: auto;
    width: auto;
}

#three_img_small {
    height: 100%;
    width: 60%;
}
/*========================================================================================================================================*/
/*============================================-----------SECTION FOUR-------------=========================================================*/
/*========================================================================================================================================*/

#four_h1 {
    color: rgb(173, 129, 86);
    text-align: center;
    margin-top: 2em;
}

#four_text_div {
    text-align: center;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
}
#four_text {
    color: rgb(225, 213, 186);
    font-size: 1.5em;
    grid-column-start: 2;
    grid-column-end: 2;
    height: auto;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-weight: 100;
}

#four_time_div {
    width: 100%;
}

#four_weekdays_div {
    display: grid;
    grid-template-columns: 30% 19.5% 20% 30.5%;
    grid-template-rows: auto;
    margin-bottom: -1.5em;
}

#four_weekdays {
    color: rgb(173, 129, 86);
    grid-column-start: 2;
    grid-column-end: 2;
    text-align: right;
    margin-right: 0.25em;
    font-size: 1.2em;
}

#four_weekdays_time {
    color: rgb(225, 213, 186);
    grid-column-start: 3;
    grid-column-end: 3;
    text-align: left;
    margin-left: 0.25em;
    font-size: 1.2em;
}

#four_weekends_div {
    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
    grid-template-rows: auto;
    margin-bottom: 3em;
}

#four_weekends {
    color: rgb(173, 129, 86);
    text-align: right;
    margin-right: 0.25em;
    grid-column-start: 2;
    grid-column-end: 2;
    font-size: 1.2em;
}

#four_weekends_time {
    color: rgb(225, 213, 186);
    grid-column-start: 3;
    grid-column-end: 3;
    text-align: left;
    margin-left: 0.25em;
    font-size: 1.2em;
}
/*========================================================================================================================================*/
/*============================================-----------SECTION FIVE------------=========================================================*/
/*========================================================================================================================================*/


/*========================================================================================================================================*/
/*============================================-----------MAILING LIST------------=========================================================*/
/*========================================================================================================================================*/

.klaviyo-form-RBSHP6 {
    position: absolute;
    height: auto;
    width: 100%;
    background-color: rgb(22, 22, 22);
}

/*========================================================================================================================================*/
/*========================================-----------MEDIA QUERY: MOBILE------------======================================================*/
/*========================================================================================================================================*/

@media all and (max-width: 949px) {

}
}